{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('add_view') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=40 name=title>
        <dt>Text:
        <dd><textarea name=body rows=5 cols=40></textarea>
        <dt>Categories [separate by comma]:
        <dd><input type=text size=40 name=categories>
        <dd><input type=submit value=Post>
      </dl>
    </form>
    {% endif %}
{% endblock %}